@import url('https://fonts.googleapis.com/css?family=Roboto|Suez+One');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body, html {
    width: 100%;
    height: 100%;
}

body {
    background-color: white;
    font-family: Trebuchet MS, Helvetica;
}

/* Шапка сайта */

header {
    z-index: 5000;
    width: 100%;
    padding: 10px 0.5% 0px 0.5%;
    background: transparent;
    float: left;
    position: fixed;
}

#custom-back-ground {
    float: left;
    background-blend-mode: multiply;
    background-size: cover;
    background-attachment: fixed;

    padding: 100px 0;
    width: 100%;
    text-align: center;
}

header #logo {
    color: white;
    cursor: pointer;
}

header #logo span {
    font-size: 1.7em;
    line-height: 45px;
    margin-left: 40px;
    font-family: 'Suez One', serif;
}

@media (min-width: 701px) {
    #logo {
        float: left;
        width: 30%;
        font-size: 1.1em;
    }

    #about {
        float: right;
        width: 67%;
    }
}

@media (max-width: 700px) {
    #logo {
        margin-top: 15px;
        width: 100%;
        font-size: 1.1em;
    }

    #about {
        float: left;
        width: 100%;
    }
}

#about {
    text-align: center;
    font-size: 1em;
    line-height: 40px;
    margin-bottom: 10px;
}

#about > a {
    text-decoration: none;
    font-size: 30px;
    color: white;
    padding: 7px;
}

#about a:hover {color: silver}

#about > a:not(:last-child) {
    margin-right: 7%;
}

/* Стили для фиксированной шапки */

.fixed {
    z-index: 5000;
    background-color: white;
    border-bottom: 3px solid silver;
}

header.fixed #logo {
    color: #111111;
}

.fixed #about a {color: #111111}
.fixed #about a:hover {color: darkblue}

/* Главный блок на сайте */

#top {
    width: 100%;
    background-size: cover;
    text-align: center;
}

@media (min-width: 1001px) {
    #top {
        font-size: 3em;
        height: 1000px;
    }
}

@media (max-width: 1000px) and (min-width: 651px) {
    #top {
        font-size: 2em;
        height: 600px;
    }
}

@media (max-width: 650px) {
    #top {
        font-size: 1.3em;
        padding-top: 50%;
        height: 500px;
    }
}

@media (max-width: 450px) {
    #top {
        font-size: 0.9em;
    }
}

#top h1{
    color: white;
}

#top #firstPart{
    padding-top: 15%;
}

/* Блок с возможностями */

#team {
    float: left;
    background-color: white;
    border-top: 4px solid silver;
    color: #111111;
    font-size: 1.3em;
}

@media (min-width: 1401px) {
    #team {
        padding: 100px 20%;
        width: 60%;
    }
}

@media (max-width: 1400px) {
    #team {
        padding: 100px 10%;
        width: 80%;
    }
}

@media (max-width: 700px) {
    #team div {
        width: 98%!important;
        margin-bottom: 20px;
    }
}

#team div {
    width: 48%;
    margin-right: 2%;
    float: left;
}

#team p {
    font-family: Arimo, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #bbbbbb;
    font-size: 1.2em;
    margin-bottom: 40px;
}

#team h2 {font-size: 4em}
#team span {
    font-size: 1.5em;
    color: #a0a0a0}

/* Блок с преимуществами */

#project {
    border-top: 4px solid silver;
    width: 100%;
    float: left;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    color: white;
}

#project h2 {font-size: 4em}
#project h4 {font-size: 2.5em}
#project p {
    font-size: 1.5em;
    padding-left: 20%;
    width: 60%;
}

@media (min-width: 561px) {
    #project h2 {font-size: 4em}
}

@media (max-width: 560px) {
    #project h2 {font-size: 2em}
}

/* Блок с контактами */
#student {
    border-top: 4px solid silver;
    width: 100%;
    float: left;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
    background: white;
}

#student h2 {font-size: 4em}
#student h4 {font-size: 2.5em}
#student p {
    font-size: 1.5em;
    padding-left: 20%;
    width: 60%;
}

@media (min-width: 561px) {
    #project h2 {font-size: 4em}
}

@media (max-width: 560px) {
    #project h2 {font-size: 2em}
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto Slab', serif;
    font-weight: lighter;
}

@media (min-width: 1051px) {
    #form_input {
        width: 35%;
        margin-left: 38%;
    }
}

@media (max-width: 1050px) {
    #form_input {
        width: 90%;
        margin-left: 10%;
    }
}

#form_input input,#form_input textarea {
    margin-bottom: 10px;
    width: 70%;
    padding: 10px 2%;
    border-radius: 7px;
    border: 4px solid silver;
    font-size: 0.9em;
    color: #111111;
}

#form_input input:focus, #form_input textarea:focus {
    border-color: #333;
}

/* Вопросы и ответы */

#labs {
    background-size: cover;
    border-top: 4px solid silver;
    width: 100%;
    float: left;
    padding-top: 70px;
    padding-bottom: 70px;
    color: white;
}

#labs h2 {font-size: 4em}
#labs h4 {font-size: 2.2em}
#labs a {font-size: 1.5em; color: skyblue}
#labs div {padding-top: 50px}

@media (min-width: 801px) {
    #labs div {
        width: 25%;
        margin-left: 6%;
        float: left;
    }
}

@media (max-width: 800px) {
    #labs div {
        width: 80%;
        margin-left: 10%;
        float: left;
    }
}

#labs .title {
    font-weight: lighter;
    color: #dddddd;
    margin-bottom: 20px;
    font-size: 2.2em;
}

#labs .heading {
    color: #bbbbbb;
    font-size: 1.5em;
    font-weight: bold;
}

#labs p {
    font-family: Arimo, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #bbbbbb;
    font-size: 1.2em;
    margin-bottom: 40px;
}
